

.home-container{
    display: flex;
    justify-content: center;
    padding: 17px 11px;
}

.home-content{
    display: none;
}

.login-container{
    width: 298px;
    height: 464px;

    background-color: #6C6C6C;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.login-container h1{
    color: #fff;
    font-weight: 400;
    font-size: 36px;
    font-style: normal;
    line-height: 49px;
    text-align: center;
    letter-spacing: -0.015em;

    margin-top: 59px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.login-container input{
    box-sizing: border-box;
    background: #FEFEFE;
    border: 1px solid #FEFEFE;
    border-radius: 4px;


    width: 90%;
    height: 47px;
    margin-bottom: 20px;
}

.login-container input::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    color: #9E9E9E;

    padding-left: 14px;
}

.login-container button{
    background: #FFC700;
    border-radius: 4px;

    width: 90%;
    height: 50px;
    margin-top: 34px;
    margin-bottom: 100px;
    border: none;


    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    text-transform: uppercase;
}

.form-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 320px){
    .home-content{
        display: none;
    }

    .login-container{
        width: 298px;
        height: 464px;
    }
}

@media (min-width: 576px){
    .home-container{
        padding: 40px 48px;
    }

    .login-container{
        width: 479px;
        height: 573px;
    }

    .login-container input{
        box-sizing: border-box;
        background: #FEFEFE;
        border: 1px solid #FEFEFE;
        border-radius: 4px;
    
        width: 85%;
        height: 47px;
        margin-bottom: 20px;
    }
    
    .login-container button{
        height: 65px;
        width: 85%;
        margin-top: 44px;
    }

    .login-container h1{
        font-weight: 400;
        font-size: 48px;
        margin-top: 74px;
        margin-bottom: 35px;
    }

    .login-container input{
        margin-bottom: 30px;
    }
}


@media (min-width: 1200px){

    .home-content{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        align-items: center;
        width: 320px;
    }

    .home-content p{
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        letter-spacing: -0.015em;
        
        color: #F2F2F2;
    }

    .home-content h1{
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 65px;
        letter-spacing: -0.015em;
        
        color: #FFFFFF;
        
        mix-blend-mode: normal;
    }

    .home-container{
        display: flex;
        justify-content: space-around;
    }
}

