

.assessments-container{
    background: #6C6C6C;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 4px;

    margin-top: 18px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 95%;
    height: auto;

    margin-top: 18px;
    padding: 10px;
}

.assessments-container h3{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    mix-blend-mode: normal;

}

.name-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
}

.name-container svg{
    margin-right: 15px;
}


.comment-container{
    width: 95%;
    height: auto;
    left: 10px;
    top: 54px;
    border: 1px solid #E1E1E1;
    border-radius: 4px;

    margin-top: 5px;
    margin-bottom: 15px;
}

.comment-container p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    letter-spacing: -0.015em;
    
    color: #9E9E9E;
    margin: 10px;
}

.comment{
    display: flex;
    align-items: center;    
    justify-content: center;
    width: 100%;
}



@media (min-width: 768px){
    .comment-container{
        width: 97%;
    }
}

@media (min-width: 992px){
    .comment-container{
        width: 98%;
    }
}

@media (min-width: 1200px){
    .comment-container{
        width: 99%;
    }
}