.movies-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding-left: 15px;
}

.movies-container h1{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    mix-blend-mode: normal;


    text-align: center;
    margin-bottom: 50px;
    margin-top: 12px;
}

.movies-container p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    mix-blend-mode: normal;

    margin-bottom: 12px;
}

@media (min-width: 576px){

    .movies-container h1{
        font-size: 30px;
        margin-top: 20px;
    }

    .movies-container p{
        font-size: 19px;
        margin-bottom: 20px;
    }
}

@media (min-width: 768px){
    .movies-container h1{
        font-size: 35px;
        margin-top: 25px;
    }

    .movies-container p{
        font-size: 20px;
        margin-bottom: 25px;
    }
}

@media (min-width: 992px){
    .movies-container h1{
        font-size: 40px;
        margin-top: 30px;
    }

    .movies-container p{
        font-size: 22px;
        margin-bottom: 30px;
    }
}


@media (min-width: 1200px){
    .movies-container{    
        padding-left: 40px;
    }

    .movies-container h1{
        font-size: 48px;
        margin-top: 41px;
    }

    .movies-container p{
        font-size: 24px;
        margin-bottom: 40px;
    }
}

