

.valuation-container{
    background: #6C6C6C;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 4px;

    width: 95%;
    height: auto;

    margin-top: 17px;
    padding: 10px;
}

.valuation-container input{
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    border-radius: 4px;

    height: 50px;
    width: 96%;

    margin-top: 10px;
    margin-bottom: 17px;
}

.valuation-container input::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    padding-left: 10px;
}



.valuation-container button{
    background: #FFC700;
    border-radius: 4px;
    border: none;

    height: 50px;
    width: 98%;

    margin-bottom: 10px;

    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.015em;
    color: #000000;
    mix-blend-mode: normal;
    text-transform: uppercase;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media (min-width: 576px){
    .valuation-container button{
        height: 50px;

        width: 334px;

        margin-bottom: 10px;
    }

    .valuation-container input{

    
        height: 50px;
        width: 96%;
    
        margin-top: 10px;
        margin-bottom: 17px;
    }
}

@media (min-width: 768px){
    .valuation-container input{
        width: 97%;
    }
}

@media (min-width: 992px){
    .valuation-container input{
        width: 98%;
    }
}

@media (min-width: 1200px){
    .valuation-container input{
        width: 99%;
    }
}